USE [master]
GO
/****** Object:  Database [lolchamps]    Script Date: 2025/02/27 13:36:58 ******/
CREATE DATABASE [lolchamps]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'lolchamps', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.CHAMPID\MSSQL\DATA\lolchamps.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'lolchamps_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.CHAMPID\MSSQL\DATA\lolchamps_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [lolchamps].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [lolchamps]
GO
/****** Object:  Table [dbo].[ChampionItems]    Script Date: 2025/02/27 13:36:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChampionItems](
	[ChampionID] [int] NOT NULL,
	[ItemID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ChampionID] ASC,
	[ItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChampionLanes]    Script Date: 2025/02/27 13:36:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChampionLanes](
	[ChampionID] [int] NOT NULL,
	[LaneID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ChampionID] ASC,
	[LaneID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChampionRunes]    Script Date: 2025/02/27 13:36:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChampionRunes](
	[ChampionID] [int] NOT NULL,
	[RuneID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ChampionID] ASC,
	[RuneID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Champions]    Script Date: 2025/02/27 13:36:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Champions](
	[ChampionID] [int] IDENTITY(1,1) NOT NULL,
	[ChampionName] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ChampionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Itemcomponents]    Script Date: 2025/02/27 13:36:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Itemcomponents](
	[ItemId] [int] NOT NULL,
	[ComponentID] [int] NOT NULL,
	[ItemComponentID] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ItemComponentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Items]    Script Date: 2025/02/27 13:36:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Items](
	[ItemID] [int] IDENTITY(1,1) NOT NULL,
	[ItemName] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lanes]    Script Date: 2025/02/27 13:36:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lanes](
	[LaneID] [int] IDENTITY(1,1) NOT NULL,
	[LaneName] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LaneID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MidTierComponents]    Script Date: 2025/02/27 13:36:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MidTierComponents](
	[ItemID] [int] NOT NULL,
	[ComponentID] [int] NOT NULL,
	[Quantity] [int] NULL,
	[MidTierID] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MidTierID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Runes]    Script Date: 2025/02/27 13:36:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Runes](
	[RuneID] [int] IDENTITY(1,1) NOT NULL,
	[RuneName] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RuneID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ChampionLanes] ([ChampionID], [LaneID]) VALUES (1, 2)
INSERT [dbo].[ChampionLanes] ([ChampionID], [LaneID]) VALUES (2, 1)
INSERT [dbo].[ChampionLanes] ([ChampionID], [LaneID]) VALUES (3, 1)
GO
INSERT [dbo].[ChampionRunes] ([ChampionID], [RuneID]) VALUES (1, 21)
INSERT [dbo].[ChampionRunes] ([ChampionID], [RuneID]) VALUES (1, 23)
INSERT [dbo].[ChampionRunes] ([ChampionID], [RuneID]) VALUES (1, 26)
GO
SET IDENTITY_INSERT [dbo].[Champions] ON 

INSERT [dbo].[Champions] ([ChampionID], [ChampionName]) VALUES (1, N'Aatrox')
INSERT [dbo].[Champions] ([ChampionID], [ChampionName]) VALUES (2, N'Ahri')
INSERT [dbo].[Champions] ([ChampionID], [ChampionName]) VALUES (3, N'Akali')
GO
SET IDENTITY_INSERT [dbo].[Champions] OFF
GO
SET IDENTITY_INSERT [dbo].[Itemcomponents] ON 

INSERT [dbo].[Itemcomponents] ([ItemId], [ComponentID], [ItemComponentID]) VALUES (107, 158, 1)
INSERT [dbo].[Itemcomponents] ([ItemId], [ComponentID], [ItemComponentID]) VALUES (107, 164, 2)
INSERT [dbo].[Itemcomponents] ([ItemId], [ComponentID], [ItemComponentID]) VALUES (108, 154, 3)
SET IDENTITY_INSERT [dbo].[Itemcomponents] OFF
GO
SET IDENTITY_INSERT [dbo].[Items] ON 

INSERT [dbo].[Items] ([ItemID], [ItemName]) VALUES (1, N'Abyssal Mask')
INSERT [dbo].[Items] ([ItemID], [ItemName]) VALUES (107, N'Aegis of the Legion')
INSERT [dbo].[Items] ([ItemID], [ItemName]) VALUES (108, N'Aether Wisp')
GO
SET IDENTITY_INSERT [dbo].[Items] OFF
GO
SET IDENTITY_INSERT [dbo].[Lanes] ON 

INSERT [dbo].[Lanes] ([LaneID], [LaneName]) VALUES (4, N'Bot')
INSERT [dbo].[Lanes] ([LaneID], [LaneName]) VALUES (3, N'Jungle')
INSERT [dbo].[Lanes] ([LaneID], [LaneName]) VALUES (1, N'Mid')
SET IDENTITY_INSERT [dbo].[Lanes] OFF
GO
SET IDENTITY_INSERT [dbo].[MidTierComponents] ON 

INSERT [dbo].[MidTierComponents] ([ItemID], [ComponentID], [Quantity], [MidTierID]) VALUES (1, 127, 1, 1)
INSERT [dbo].[MidTierComponents] ([ItemID], [ComponentID], [Quantity], [MidTierID]) VALUES (1, 130, 1, 2)
INSERT [dbo].[MidTierComponents] ([ItemID], [ComponentID], [Quantity], [MidTierID]) VALUES (2, 119, 1, 3)
GO
SET IDENTITY_INSERT [dbo].[MidTierComponents] OFF
GO
SET IDENTITY_INSERT [dbo].[Runes] ON 

INSERT [dbo].[Runes] ([RuneID], [RuneName]) VALUES (52, N'Absolute Focus')
INSERT [dbo].[Runes] ([RuneID], [RuneName]) VALUES (57, N'Aftershock')
INSERT [dbo].[Runes] ([RuneID], [RuneName]) VALUES (78, N'Approach Velocity')
SET IDENTITY_INSERT [dbo].[Runes] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Champion__A54720F8BC9E0037]    Script Date: 2025/02/27 13:36:59 ******/
ALTER TABLE [dbo].[Champions] ADD UNIQUE NONCLUSTERED 
(
	[ChampionName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Items__4E4373F7F102C574]    Script Date: 2025/02/27 13:36:59 ******/
ALTER TABLE [dbo].[Items] ADD UNIQUE NONCLUSTERED 
(
	[ItemName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Lanes__1107444D9ACEFDC2]    Script Date: 2025/02/27 13:36:59 ******/
ALTER TABLE [dbo].[Lanes] ADD UNIQUE NONCLUSTERED 
(
	[LaneName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Runes__30562CEEB86703A9]    Script Date: 2025/02/27 13:36:59 ******/
ALTER TABLE [dbo].[Runes] ADD UNIQUE NONCLUSTERED 
(
	[RuneName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MidTierComponents] ADD  DEFAULT ((1)) FOR [Quantity]
GO
ALTER TABLE [dbo].[ChampionItems]  WITH CHECK ADD FOREIGN KEY([ChampionID])
REFERENCES [dbo].[Champions] ([ChampionID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChampionItems]  WITH CHECK ADD FOREIGN KEY([ItemID])
REFERENCES [dbo].[Items] ([ItemID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChampionLanes]  WITH CHECK ADD FOREIGN KEY([ChampionID])
REFERENCES [dbo].[Champions] ([ChampionID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChampionLanes]  WITH CHECK ADD FOREIGN KEY([LaneID])
REFERENCES [dbo].[Lanes] ([LaneID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChampionRunes]  WITH CHECK ADD FOREIGN KEY([ChampionID])
REFERENCES [dbo].[Champions] ([ChampionID])
GO
ALTER TABLE [dbo].[ChampionRunes]  WITH CHECK ADD FOREIGN KEY([RuneID])
REFERENCES [dbo].[Runes] ([RuneID])
GO
ALTER TABLE [dbo].[Itemcomponents]  WITH CHECK ADD FOREIGN KEY([ComponentID])
REFERENCES [dbo].[Items] ([ItemID])
GO
ALTER TABLE [dbo].[Itemcomponents]  WITH CHECK ADD FOREIGN KEY([ItemId])
REFERENCES [dbo].[Items] ([ItemID])
GO
ALTER TABLE [dbo].[MidTierComponents]  WITH CHECK ADD FOREIGN KEY([ComponentID])
REFERENCES [dbo].[Items] ([ItemID])
GO
ALTER TABLE [dbo].[MidTierComponents]  WITH CHECK ADD FOREIGN KEY([ItemID])
REFERENCES [dbo].[Items] ([ItemID])
GO
USE [master]
GO
